body {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 auto;
	height: 100%;
}

#pagecontainer {
	margin: 0 auto;
	height: 100%;
}

.bodycontainer {
	max-width: 1024px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 10px;
	background-color: #ccc;
	height: 100%;
}

.header {
	font-size: 24px;
	line-height: 30px;
}

.content {
	min-height: 300px;
}